{% extends '/default/Hire/hire.html.twig' %}

{% block content %}
    <div class="col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ form_row(form.customer_id) }}
            {{ form_row(form.salesperson_id) }}
            {{ form_row(form.car_registration) }}
            {{ form_row(form.insurance_cover) }}
            {{ form_row(form.rent_date) }}
            {{ form_row(form.return_date) }}
            {{ form_row(form.days_hired) }}
        </div>
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary btn-sm">Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
