{% extends '/default/Hire/hire.html.twig' %}

{% block content %}
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Hire ID</th>
                    <th scope="col">Customer Name (f+l)</th>
                    <th scope="col">Car Registration</th>
                    <th scope="col">Date of Return</th>
                </tr>
                </thead>
                <tbody>

                {% for hire in hires %}
                    <tr>
                        <th scope="row"><a href="#">{{ hire.hire_id }}</a></th>
                        <td>{{ hire.first_name }} {{ hire.last_name }}</td>
                        <td>{{ hire.car_registration }}</td>
                        <td>{{ hire.return_date }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
{% endblock %}
