{% extends '/default/Hire/hire.html.twig' %}

{% block content %}
    <div class="col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ dump(form) }}
            {{ form_row(form.customer) }}
            {{ form_row(form.carReg) }}
            {{ form_row(form.insuranceCover) }}
            {{ form_row(form.rentDate) }}
            {{ form_row(form.returnDate) }}
        </div>
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary btn-sm">Update</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
