{% extends '/default/History/history.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Hire ID</th>
                <th scope="col">Customer ID</th>
                <th scope="col">Car Registration</th>
                <th scope="col">Rent Date</th>
                <th scope="col">Return Date</th>
                <th scope="col">Hire Price</th>
                <th scope="col">Commission Received</th>
            </tr>
            </thead>
            <tbody>
            {% for hire in hires %}
                <tr>
                    <td>{{ hire.hire_id }}</td>
                    <td>{{ hire.customer_id }}</td>
                    <td>{{ hire.car_registration }}</td>
                    <td>{{ hire.rent_date }}</td>
                    <td>{{ hire.return_date }}</td>
                    <td>£ {{ hire.hire_price }}</td>
                    <td>£ something calculated here</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
