{% extends '/default/Vehicle/vehicle.html.twig' %}

{% block content %}
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Car Registration</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Colour</th>
                    <th scope="col">Price</th>
                    <th scope="col">Available?</th>
                </tr>
                </thead>
                <tbody>

                {% for vehicle in vehicles %}
                    <tr {% if not vehicle.car_available %}class="table-primary"{% endif %}>
                        <th scope="row"><a href="{{ path('vehicle_info', {vehicle: vehicle.car_registration}) }}">{{ vehicle.car_registration }}</a></th>
                        <td>{{ vehicle.make }}</td>
                        <td>{{ vehicle.model }}</td>
                        <td>{{ vehicle.colour }}</td>
                        <td>£ {{ vehicle.car_price }}</td>
                        <td>
                            {% if vehicle.car_available %}
                                <span class="fa fa-check"></span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>

{% endblock %}
