{% extends '/default/Vehicle/vehicle.html.twig' %}

{% block content %}
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Car Registration</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Price</th>
                    <th scope="col">Available?</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-active">
                    <th scope="row"><a href="{{ path('vehicle_info') }}">MV06 MDF</a></th>
                    <td>Nissan</td>
                    <td>Micra</td>
                    <td>£250</td>
                    <td>Unavailable</td>
                </tr>
                <tr>
                    <th scope="row"><a href="{{ path('vehicle_info') }}">AK18 OBE</a></th>
                    <td>Volkswagen</td>
                    <td>Pass</td>
                    <td>£500</td>
                    <td>Available</td>
                </tr>
                <tr class="table-active">
                    <th scope="row"><a href="{{ path('vehicle_info') }}">MV06 MDF</a></th>
                    <td>Nissan</td>
                    <td>Micra</td>
                    <td>£250</td>
                    <td>Unavailable</td>
                </tr>
                <tr class="table-active">
                    <th scope="row"><a href="{{ path('vehicle_info') }}">MV06 MDF</a></th>
                    <td>Nissan</td>
                    <td>Micra</td>
                    <td>£250</td>
                    <td>Unavailable</td>
                </tr>
                <tr>
                    <th scope="row"><a href="{{ path('vehicle_info') }}">AK18 OBE</a></th>
                    <td>Volkswagen</td>
                    <td>Pass</td>
                    <td>£500</td>
                    <td>Available</td>
                </tr>
                </tbody>
            </table>

        </div>

{% endblock %}
