{% extends '/default/Vehicle/vehicle.html.twig' %}

{% block content %}
    <div class="col-md-12">
        Car details.

        <hr />
        Car Registration: {{ vehicle.id }} <br />
        Make {{ vehicle.make }}<br />
        Model {{ vehicle.model }}<br />
        Capacity {{ vehicle.capacity }}<br />
        Price {{ vehicle.car_price }}<br />
        Available? {{ vehicle.car_available }}<br />
        <hr />
        <button type="button" class="btn btn-primary btn-sm">Edit Car</button>

        <button type="button" class="btn btn-primary btn-sm">Delete Car</button>

    </div>
{% endblock %}
