{% extends '/default/Customer/customer.html.twig' %}

{% block content %}
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Postcode</th>
                    <th scope="col">Mobile No.</th>
                    <th scope="col">Email Address</th>
                </tr>
                </thead>
                <tbody>

                {% for customer in customers %}
                    <tr>
                        <th scope="row"><a href="#">{{ customer.first_name }}&nbsp;{{ customer.last_name }}</a></th>
                        <td>{{ customer.post_code }}</td>
                        <td>{{ customer.mobile }}</td>
                        <td>{{ customer.email }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
{% endblock %}
