{% extends '/default/Customer/customer.html.twig' %}

{% block content %}
    <div class="col-md-12">

    <div>
        <hr />
        <i class="fa fa-user fa-fw"></i> Name:<br />
         {{ customer.first_name }}&nbsp;{{ customer.last_name }}
        <hr />
        <i class="fa fa-home fa-fw"></i> Address:<br />
        {{ customer.street }} <br />
        {{ customer.city }} <br />
        {{ customer.post_code }} <br />
        <hr />
        <i class="fa fa-phone fa-fw"></i> Contact:<br />
        {{ customer.mobile }} <br />
        {{ customer.email }} <br />
    </div>
        <hr />
        <a href="{{ path('customer_edit', {customer: customer.id}) }}">
            <button type="button" class="btn btn-primary btn-sm">Edit Customer</button>
        </a>

        <button type="button" class="btn btn-primary btn-sm">Delete Customer</button>

    </div>
{% endblock %}
